<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="ClientId" value="d5b256dc-c5ae-4967-a316-e1c24084b699"/>
  <add key="ClientSecret" value="Y01Gx/8oAcMIbfrhJmx9pgyd92gLEDEZAEhXECbp8kc="/>
</appSettings>
</configuration>